/* front-page */
body{
  overflow: hidden;
}
#top-banner{
  display: flex;
  width: 100%;
  height: 200px;
  border: 3px solid black;
}
#content{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  border: 3px solid red;
}

#map{
  flex-basis: 60%;
  height: 100%; 
  border: 3px solid black;
}
#list-house{
  flex-basis: 40%;
  height: 100%;
  font-size: 1.2rem;
  margin-left: 0.2rem;
  border: 3px solid black;
  overflow: auto;
}

